RPG_API_ORIGIN=http://127.0.0.1:8001
NEXT_PUBLIC_ACCOUNT_URL=http://localhost:3000
NEXT_PUBLIC_ASSET_BASE_URL=
NEXT_PUBLIC_REVERB_APP_KEY=rpg-local
NEXT_PUBLIC_REVERB_HOST=127.0.0.1
NEXT_PUBLIC_REVERB_PORT=8081
NEXT_PUBLIC_REVERB_SCHEME=http
